### COVID-19 project:
- Data exploration using PostgreSQL database 
- Visualization using Tableau

In [11]:
# importing the libraries

import pandas as pd
from sqlalchemy import create_engine

import os

In [2]:
# reading the csv files

df_covid_deaths = pd.read_csv('./Covid_deaths.csv')
df_covid_deaths.columns = [c.lower() for c in df_covid_deaths.columns] #postgres doesn't like capitals or spaces

df_covid_vaccinations = pd.read_csv('./Covid_vaccinations.csv')
df_covid_vaccinations.columns = [c.lower() for c in df_covid_vaccinations.columns]

In [3]:
df_covid_deaths.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,24/02/2020,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_covid_vaccinations.head()

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [5]:
#importing the csv files to the PostgreSQL table
engine = create_engine('postgresql://postgres:PASSWORD@localhost:5432/CovidDataBase')

df_covid_deaths.to_sql('covid_deaths', engine, if_exists='replace', index=False)
df_covid_vaccinations.to_sql('covid_vaccinations', engine, if_exists='replace', index=False)

In [7]:
# Changing the column date from text to date type

engine.execute('''ALTER TABLE covid_deaths ALTER COLUMN date TYPE DATE 
using to_date(date, 'DD-MM-YYYY');''')

engine.execute('''ALTER TABLE covid_vaccinations ALTER COLUMN date TYPE DATE 
using to_date(date, 'DD-MM-YYYY');;''')

In [12]:
# Creating the output folder for saving the csv files from the queries

path = './output/'
if not os.path.exists(path):
    os.makedirs(path)

### Data Exploration to anwser and visualize those questions:
- Global numbers
- Total death count by countinent
- Percentage of infection by country
- Percentage of death by country
- Vaccination rate growth during the entire pandemic by country

In [17]:
# global numbers: Evaluating for the entire time across the world
query = ''' 
SELECT SUM(CAST(new_cases AS bigint)) AS total_cases, SUM(CAST(new_deaths AS bigint)) AS total_deaths, ROUND(SUM(CAST(new_deaths AS bigint)) / SUM(CAST(new_cases AS bigint)) * 100, 2) AS rate_death_globally
FROM covid_deaths
WHERE continent IS NOT NULL;
'''

df = pd.read_sql_query(query, engine)
df.to_csv(f'{path}global_numbers.csv', index = None, header=True)
df.head()

   total_cases  total_deaths  rate_death_globally
0  312923807.0     5479040.0                 1.75

In [19]:
# Total death per continent, dropping the 'income' groups, world, international and european union
query = '''
SELECT location, MAX(total_deaths) as highest_death_number
FROM covid_deaths
WHERE continent IS NULL AND location NOT ILIKE '%%income%%' AND location <> 'World' AND location <> 'International' AND location <> 'European Union'
GROUP BY location
ORDER BY highest_death_number DESC;
'''

df = pd.read_sql_query(query, engine)
df.to_csv(f'{path}death_countinent.csv', index = None, header=True)
df

        location  highest_death_number
0         Europe             1561089.0
1           Asia             1270595.0
2  North America             1241166.0
3  South America             1195268.0
4         Africa              231503.0
5        Oceania                4751.0

In [20]:
# Comparing for each country the maximum death rate recorded so far

query = '''
SELECT continent, location, population, MAX(total_deaths) as highest_death_number, MAX((total_deaths/population)) * 100 AS highest_rate_death
FROM covid_deaths
GROUP BY continent, location, population
HAVING MAX(total_deaths) IS NOT NULL AND population IS NOT NULL AND continent IS NOT NULL
ORDER BY highest_rate_death DESC;
'''

df = pd.read_sql_query(query, engine)
df.to_csv(f'{path}death_rate_country.csv', index = None, header=True)
df.head()

,continent,location,population,highest_death_number,highest_rate_death
0,South America,Peru,33359415.0,203157.0,0.608994
1,Europe,Bulgaria,6896655.0,31761.0,0.460528
2,Europe,Bosnia and Herzegovina,3263459.0,13673.0,0.418973
3,Europe,Hungary,9634162.0,40016.0,0.415355
4,Europe,Montenegro,628051.0,2453.0,0.390573

In [21]:
# Comparing for each country the maximum infection rate recorded so far

query = '''
SELECT continent, location, population, MAX(total_cases) as highest_infection_number, MAX((total_cases/population)) * 100 AS highest_rate_infection
FROM covid_deaths
GROUP BY continent, location, population
HAVING MAX(total_cases) IS NOT NULL AND population IS NOT NULL AND continent IS NOT NULL
ORDER BY highest_rate_infection DESC;
'''

df = pd.read_sql_query(query, engine)
df.to_csv(f'{path}infection_rate_country.csv', index = None, header=True)
df.head()

,continent,location,population,highest_infection_number,highest_rate_infection
0,Europe,Andorra,77354.0,28542.0,36.897898
1,Europe,Montenegro,628051.0,194695.0,30.999871
2,Europe,Gibraltar,33691.0,10096.0,29.966460
3,Africa,Seychelles,98910.0,29030.0,29.349914
4,Europe,San Marino,34010.0,9518.0,27.985887

In [22]:
# Getting the vaccinations growth and rate per day for each country, using partition by and CTE

query = '''
WITH vaccination_by_pop (continent, location, date, population, new_tests, new_vaccinations, total_vaccinations_per_day)
AS
(SELECT death.continent, death.location, death.date, death.population, vac.new_tests, vac.new_vaccinations,
SUM(vac.new_vaccinations) OVER (PARTITION BY death.location ORDER BY death.location, death.date) AS total_vaccinations_per_day
FROM covid_deaths death
JOIN covid_vaccinations vac
    ON death.location = vac.location AND death.date = vac.date
WHERE death.continent IS NOT NULL
ORDER BY death.location, death.date)
SELECT *, (total_vaccinations_per_day/population) * 100 AS rate_vaccionation_per_day
FROM vaccination_by_pop
WHERE new_vaccinations IS NOT NULL
'''

df = pd.read_sql_query(query, engine)
df.to_csv(f'{path}vaccination_rate_country_day.csv', index = None, header=True)
df.head()

,continent,location,date,population,new_tests,new_vaccinations,total_vaccinations_per_day,rate_vaccionation_per_day
0,Asia,Afghanistan,2021-05-27,39835428.0,NaN,2859.0,2859.0,0.007177
1,Asia,Afghanistan,2021-06-03,39835428.0,NaN,4015.0,6874.0,0.017256
2,Europe,Albania,2021-01-13,2872934.0,3307.0,60.0,60.0,0.002088
3,Europe,Albania,2021-01-14,2872934.0,3695.0,78.0,138.0,0.004803
4,Europe,Albania,2021-01-15,2872934.0,3530.0,42.0,180.0,0.006265